$yellow: #f3a952;
.wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 10;
  background-image: linear-gradient(180deg, rgba(66, 65, 65, 0.8), transparent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  a {
    img {
      max-width: 150px;
      max-height: 150px;
    }
    @media (max-width: 768px) {
      padding: 0 5px;
    }
  }

  .nav-menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0 5px;

    a {
      display: flex;
      align-items: center;
      padding: 0 20px;
      cursor: pointer;
      text-decoration: none;
      color: white;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }

      span {
        font-size: 13px;
        letter-spacing: 1.4px;
        position: relative;
        padding: 0 8px;

        &:after {
          //make the hover effect on the navbar menu
          content: "";
          height: 2px;
          background: white;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -6px;
          opacity: 0;
          transform-origin: left center;
          transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
          transform: scaleX(0);
        }
      }
      &:hover {
        //make the hover effect on the navbar menu
        span:after {
          transform: scaleX(1);
          opacity: 1;
        }
      }
    }
  }

  .button {
    font-size: 1rem;
    border: 2px solid $yellow;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    // padding: 5px;
    margin: 5px auto;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: hidden;
  }

  .icon {
    position: relative;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: $yellow;
  }
  .icon i {
    display: none;
  }
  .button:hover .icon i,
  .button.active .icon i {
    display: inline-block;
  }
  //Hover
  //-----------------------
  .button:hover {
    width: 125px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    color: $yellow;
    transition: 0.3s;
    border: none;
  }

  .button:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.05s;
  }
}

.fullscreen-btn {
  background-color: transparent;
  border: none;
  color: white;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}
